[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
adapt-parser = "*"
metar = "*"
avwx = "*"

[dev-packages]
# matplotlib = "*"
# plotly = "*"
# pandas = "*"
# kaleido = "*"

[requires]
python_version = "3.9"
